// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #f4f4f4;
$featureBackgroundColour: #eeeeee;
$accentColour: #05bf85;  // 옆의 about site위에 마우스 올라갔을 때 아이콘?

// Text colours
$headingColour: #333333;  // 본문의 헤더랑, 타이틀 색깔
$bodyColour: #555555;  // 본문 색깔 = about 페이지 그림 위의 색깔
$linkColour: #ed495a;  //#05bf85;  // 링크 색깔, 밑에 꺼랑 같이 사이트의 테마 역할 하는 듯
$hoverColour: #e2263a;  //#008000;  // 링크 위에 마우스 올라갔을 때의 색
$focusColour: #fa407a;  // 링크 같은 거 클릭할 때 박스쳐지는 색깔
$captionColour: #aaaaaa;  // 옆의 about site 마우스 안 올라갔을 때 색깔인듯
$white: #ffffff;

// Typography
$bodytype: (
  font-family: '"Lora", "Jeju Myeongjo", "serif"',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Roboto", "Jeju Myeongjo", "serif"',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
// @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:900');
@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');
